* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #e4f5ff;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1000px;
}

.App__header {
    text-align: center;
}

.post {
    padding: 10px;
    margin: 20px;
    border: cadetblue solid 2px;
}